@import 'https://fonts.googleapis.com/css2?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Open Sans';
/*@import './street-team-app/public/ComponentTMP_1-image.jpg'*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed, */
/*figure, figcaption, footer, header, hgroup, */
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
/*	margin: 20px auto;*/
/*	padding: 0;*/
/*	border: 0;*/
/*	font-size: 100%;*/
/*	font: inherit;*/
/*	vertical-align: baseline;*/
/*}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, */
/*footer, header, hgroup, menu, nav, section {*/
/*	display: block;*/
/*}*/

/*ol, ul {*/
/*	list-style: none;*/
/*}*/
/*blockquote, q {*/
/*	quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
/*	content: '';*/
/*	content: none;*/
/*}*/
/*table {*/
/*	border-collapse: collapse;*/
/*	border-spacing: 0;*/
/*}*/

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>

/*:root { */
   /*Colors: */
/*  --background-black: #000000;*/
/*  --background-center-box-almost-black: #1F1F1F;*/
/*  --button-cta-yellow: #FED93E;*/
/*  --button-cta-spotify-green: #1CB954;*/
/*  --box-progress-steps-lighter-purple: #6D47D5;*/
/*  --bar-points-total-gray: #393939;*/
/*  --divider-line-gray: #E6E6E6;*/
/*  --button-facebook-registration-blue: #3B5998;*/
/*  --button-points-added-light-gray: #404040;*/
/*  --input-box-outline-gray: #AFAFAF;*/
/*  --button-cta-light-gray: #585858;*/
/*  --divider-line-progress-bar-heavy-fade: #E6E6E6;*/
/*  --box-progress-steps-lighter-gray: #484848;*/
/*  --button-cta-light-gray-hover: #898989;*/
/*  --background-play-box-dark-gray: #2E2E2E;*/
/*  --divider-line-light-fade: #707070;*/
  
  /* Font/text values */
/*  --unnamed-font-family-open-sans: Open Sans;*/
/*  --unnamed-font-family-oswald: Oswald;*/
/*  --unnamed-font-style-normal: normal;*/
/*  --unnamed-font-weight-600: 600px;*/
/*  --unnamed-font-weight-800: 800px;*/
/*  --unnamed-font-weight-normal: normal;*/
/*  --unnamed-font-weight-bold: bold;*/
/*  --unnamed-font-weight-medium: medium;*/
/*  --unnamed-font-size-8: 8px;*/
/*  --unnamed-font-size-11: 11px;*/
/*  --unnamed-font-size-12: 12px;*/
/*  --unnamed-font-size-14: 14px;*/
/*  --unnamed-font-size-15: 15px;*/
/*  --unnamed-font-size-16: 16px;*/
/*  --unnamed-font-size-18: 18px;*/
/*  --unnamed-font-size-20: 20px;*/
/*  --unnamed-font-size-21: 21px;*/
/*  --unnamed-font-size-24: 24px;*/
/*  --unnamed-font-size-28: 28px;*/
/*  --unnamed-font-size-30: 30px;*/
/*  --unnamed-font-size-36: 36px;*/
/*  --unnamed-font-size-40: 40px;*/
/*  --unnamed-character-spacing-0: 0px;*/
/*  --unnamed-line-spacing-11: 11px;*/
/*  --unnamed-line-spacing-15: 15px;*/
/*  --unnamed-line-spacing-17: 17px;*/
/*  --unnamed-line-spacing-19: 19px;*/
/*  --unnamed-line-spacing-20: 20px;*/
/*  --unnamed-line-spacing-22: 22px;*/
/*  --unnamed-line-spacing-24: 24px;*/
/*  --unnamed-line-spacing-26: 26px;*/
/*  --unnamed-line-spacing-27: 27px;*/
/*  --unnamed-line-spacing-31: 31px;*/
/*  --unnamed-line-spacing-33: 33px;*/
/*  --unnamed-line-spacing-36: 36px;*/
/*  --unnamed-line-spacing-41: 41px;*/
/*  --unnamed-line-spacing-45: 45px;*/
/*  --unnamed-line-spacing-53: 53px;*/
/*  --unnamed-line-spacing-60: 60px;*/
/*  --unnamed-decoration-underline: underline;*/
/*}*/


:root {

--background-black: #000000;
--text-white-medium-fade: #FFFFFF;
--background-center-box-almost-black: #1F1F1F;
--button-cta-yellow: #FED93E;
--text-white-light-fade: #FFFFFF;
--text-white: #FFFFFF;
--button-cta-spotify-green: #1CB954;
--box-progress-steps-lighter-purple: #6D47D5;
--bar-points-total-gray: #393939;
--divider-line-gray: #E6E6E6;
--button-facebook-registration-blue: #3B5998;
--button-points-added-light-gray: #404040;
--text-almost-black: #0A0A0A;
--input-box-outline-gray: #AFAFAF;
--text-white-heavy-fade: #FFFFFF;
--button-cta-light-gray: #585858;
--divider-line-progress-bar-heavy-fade: #E6E6E6;
--box-progress-steps-lighter-gray: #484848;
--button-cta-light-gray-hover: #898989;
--background-play-box-dark-gray: #2E2E2E;
--text-black-medium-fade: #000000;
--divider-line-light-fade: #707070;

}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  background-color: black;
}

body {

}

h1 {
  font-family: "Oswald";
  color: white;
}

h3 {
  font-family: "Open Sans";
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-size: 18px;
}

h4 {
  font-family: "Open Sans";
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-size: 14px;
  font-weight: 635;
}

h5 {
  font-family: "Open Sans";
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: -10px;
}

hr {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

input {
  width: 100%;
  padding: 15px;
}

p {
  font-family: "Open Sans";
  color: white;
}

li {
  font-family: "Open Sans";
  color: white;
}

Button {
  display: block;
  width: 100%;
  height: 100px;
  font-size: 30px;
  font-weight: 700;
  outline: none;
  padding: 0;
  cursor: pointer;

}

Button:hover {
  filter: brightness(1.1) drop-shadow(5px 9px 8px #0000002E);
}

.btn {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
}

.btn-mm {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  background-color: #FED93E;
  border: none;
  color: #121212;
}

.btn.active.btn-default {
  color: #121212;
  /*background-color: transparent;*/
  /*height: 75px;*/
}

.btn.active.btn-default:focus, .btn.active.btn-default:hover {
  filter: brightness(1.1) drop-shadow(5px 9px 8px #0000002E);
  cursor: pointer;
}

.facebook-registration-button.btn-default {
  font-size: 75%;
  color: white;
  font-family: "Open Sans";
  text-align: left;
}

.email-registration-button.btn-default {
  font-size: 75%;
  color: white;
  background-color: #393838;
  font-family: "Open Sans";
  text-align: left;
}

.email-color {
  background: rgb(64,64,64);
}

.email-color-gradient {
  background: linear-gradient(90deg, rgba(64,64,64,1) 0%, rgba(57,56,56,1) 80%, rgba(54,54,54,1) 100%);
}

.bold {
  font-weight: bold;
}

.background-wrapper {

    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/baby.png);
    background-size: cover;
    opacity: 0.75;
    filter: blur(35px);
    position:absolute;
    width:100%;
    height:100%;
    /*padding: 100px;*/
}

.button-opt-in {
  background-color: #FED93E;
  height: 90px;
}

.button-container{
  margin: 20px 0;
}

.button-text-box {
  display: flex;
  flex: 8;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  /*height:100%;*/
  /*padding: 10px 0;*/
}

.button-points-box {
  display: flex;
  flex-direction: column;
  flex: 2;
  height:100%;
  min-width:80px;
  padding: 10px 0;
  /*width:100%;*/
  justify-content: center;
  align-items: center;
}

.button-points-total {
  font-size: 25px;
  align-items: center;
  margin-block-end: 0;
  margin-block-start: -5px;
}


.button-icon {
  height: 100%;
  font-size: 50px;
  /*align-items: stretch;*/
}

.button-icon > svg {
  flex: 2;
  min-width: 35px;
  height: 100%;
  width: 100%;
  padding: 0 12px;
}

.button-text {
  flex: 6;
  /*flex-wrap: wrap;*/
  padding-right: 90px;
  /*padding-left:20px;*/
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 250px;
  margin: auto;
  /*max-width: 200px;*/
  /*align-self: flex-start;*/
  /*margin-block-end: 0;*/
  /*margin-block-start: 0;*/
}

.bright-logo
{
width: 100px;
/*padding: 10px;*/
/*background: transparent url("/public/ComponentTMP_2-image.png") 0% 0% no-repeat padding-box;*/
filter: drop-shadow(0px 3px 6px #00000029) ;
opacity: 1;
position: fixed;
bottom: 20px;
right: 20px;
z-index: 5;
}

.card-container-text{
  background-color: #1F1F1F;
  /*max-width: 468px;*/
  /*width: 50%;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  margin-top: -3px;
  /*border: 5px solid red;*/
  box-sizing: border-box;
  /*padding-top: 10px;*/
  padding: 25px 35px;
  font-size: 20px;
  font-family: "Open Sans";
}

.card-container-text .points-container {
  padding: 0;
}

.card-container-button{
  /*width: 468px;*/
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  /*padding-top: 10px;*/
  padding: 0 50px;
}

.card-image-top {
  
}

.card-text{
  /*font-size: 18px;*/
  /*font-family: "Open Sans";*/
  /*padding: 10px 40px;*/
}


.center-box{
display: flex;
flex-direction: column;
/*margin-top: 1000px;*/
max-width: 468px;
  margin-left: auto;
  margin-right: auto;
text-align: center;
filter: drop-shadow(3px 7px 6px #0000002E);
padding-top: 100px;
/*border: 5px solid red;*/
}

.complete-registration-button.btn-default {
  font-size: 100%;
  color: white;
  background-color: #FED93E;
  font-family: "Open Sans";
  text-align: left;
  height: 60px;
  margin-top: 30px;
}

.complete-registration-button-text {
  flex: 6;
  padding-right: 0px;
  padding-left:0px;
  min-width: 100px;
  font-size: 80%;
  margin: auto;
}

.complete-registration-button-icon {
  /*display: flex;*/
  height: 100%;
  font-size: 30px;
  margin-left: 7px;
}

.complete-registration-button-icon > svg {
  /*flex: 2;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*padding: 10px 12px;*/
  
  flex: 2;
  min-width: 35px;
  height: 100%;
  width: 100%;
  padding: 0 12px;
}

.complete-registration-color {
background: rgb(254,217,62);
}

.complete-registration-color-gradient {
background: rgb(254,217,62);
background: linear-gradient(90deg, rgba(254,217,62,1) 0%, rgba(250,213,58,1) 89%, rgba(224,190,49,1) 100%);
}

.contest-terms {
  font-size: 70%;
  text-align: left;
  text-decoration: underline;
  margin-top: 20px;
}

.countdown-container {
  display: flex;
  /*width: 70%;*/
  justify-content: space-around;
  /*padding: 0 0 25px 0;*/
  /*border: 3px solid red;*/
}

.countdown-container > div {
  /*flex: 1;*/
}

.countdown-column {
  /*display: flex;*/
  /*flex-direction: column;*/
  font-size: 20px;
  margin-top: 15px;
  /*border: 3px solid red;*/
}

.countdown-label {
  padding: 0 10px;
  margin-top: 5px;
  font-size: 65%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.points-label {
  text-transform: lowercase;
  margin-top: -4px;
  font-size: 60%;
}

.countdown-number {
 margin-bottom: 5px;
 font-size: 100%;
}

.cta-button{
  color: #FED93E;
}

.dark {
  color: #1E1E1E;
}

.deadline-number {
  padding: 0 10px;
}

.email-registration-button {
  font-size: 50px;
}

.facebook-registration-button {
  font-size: 50px;
}

.facebook-color-gradient {
  background: rgb(59,89,152);
  background: linear-gradient(90deg, rgba(59,89,152,1) 0%, rgba(48,85,162,1) 80%, rgba(45,76,146,1) 100%);
}

.facebook-color {
  background: #3B5998;
}

.fade-light {
  opacity: 0.7;
}

.fade-medium {
  opacity: 0.4;
}

.flex-top-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  width: 100%;
}

.form-control {
  background-color: transparent;
  border: 1px solid gray;
  margin-top: 10px;
  color: white;
}

.form-group {
  width: 100%;
  text-align: left;
  color: white;
  font-family: "Open Sans";
}

.footer-links{
  /*display: flex;*/
  justify-content: center;
  /*position: relative;*/
  opacity: .75;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-right: 45px;
}

.footer-links li{
  display: inline-block;
  font-size: 12px;
  padding: 20px 20px 0px 20px;
  text-transform: uppercase;
}

.link-button {
  color: transparent;
  cursor: pointer;
  flex: 1;
  display: flex;
  width: 100%;
}

.left-align {
  text-align: left;
}

.light {
  color: white;
}

.headline-paragraph-text {
  font-family: Oswald;
  color: white;
  font-size: 40px;
}

.headline-top {
  font-family: Oswald;
  margin-bottom: 13px;
  color: white;
}

.margin-reset {
  margin: 0;
}

.points-total {
  font-size: 25px;
  align-items: center;
  margin-block-end: 0;
  margin-block-start: 0;
}

.points-container {
  display: flex;
  /*flex: 1;*/
  /*padding: 20px 0;*/
  width: 100%;
  height: 90px;
  margin-top: -14px;
}

.points-number-box {
  /*grid-column-start: 1;*/
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#6D47D5, #593CA8);
  font-family: "Oswald";
  color: white;
  /*height: 50%;*/
  /*background-color: #6D47D5;*/
}

.points-number-box .countdown-label {
  font-weight: 500;
}

.points-info-box {
  /*grid-column-start: 5;*/
  flex: 5;
  background: #393939;
}

.points-info-text {
  margin: 0;
  padding: 0 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  font-size: 13px;
  font-weight: 600;
  opacity: .8;
  text-align: left;
  width: 65%;
}

.shrink-width {
  width: 75%;
  margin: 0 auto;
  /*display: flex;*/
  /*justify-content: center;*/
}

.subtle-center {
  margin-left: -5px;
}

.text-small {
  font-size: 60%;
}

.top-countdown .countdown-column {
  font-size: 80%;
  opacity: 1;
}

.top-countdown .countdown-label {
  font-weight: 500;
  opacity: 1;
}

.top-countdown {
  margin-top: -12px;
}

.top-headline-padding {
  margin-left: 30px;
}

.top-left-headline {
  margin-left: 15px;
  margin-top: 10px;
}

.top-right-countdown .countdown-column {
  font-size: 80%;
  opacity: 1;
}

.top-right-countdown .countdown-label {
  font-weight: 500;
  opacity: 1;
}

.top-right-countdown {
  margin-bottom: 13px;
}

.register-button-box {
  margin-top: 20px;
}

.register-headline {
  text-align: left;
  font-family: "Oswald";
  color: white;
  /*padding-top: 20px;*/
}

.register-subheadline

/*#opt-in-button {*/
/*  border: none;*/
/*}*/

#countdown-smaller {
  justify-content: flex-start;
}