@import 'https://fonts.googleapis.com/css2?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Open Sans';

:root {
  --amplify-primary-color: #5e30b8;
  --amplify-primary-tint: #7857b8;
  --amplify-primary-shade: #40207d;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  background-color: black;
  height: 100%;
}

body,
#root {
  margin: 0;
  font-family: 'Oswald';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E1E1E !important;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Oswald';
  color: white;
}

h2 {
  font-family: 'Open Sans';
  color: white;
}

h3 {
  font-family: 'Open Sans';
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-size: 18px;
}

h4 {
  font-family: 'Open Sans';
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-size: 14px;
  font-weight: 635;
}

h5 {
  font-family: 'Open Sans';
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: -10px;
}

hr {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

p {
  font-family: 'Open Sans';
  color: white;
}

amplify-authenticator {
  --container-height: 100%;
}
